<h1>Bienvenidos a mi Portafolio</h1>
<div class="card mb-3" style="max-width: 100%;">
    <div class="row g-0">
        <div class="col-md-4">
            <%= image_tag 'user.png', class: 'profile_img' %>
        </div>
    <div class="col-md-8">
        <div class="card-body">
            <h5 class="card-title">Ricardo Flores Fuentes</h5>
            <p class="card-text">Desarrollador Full Stack Trainee</p>
            <p class="card-text"><small class="text-muted">Teléfono +569 56247256</small></p>
        </div>
    </div>
 </div>
