<h1>Proyectos</h1>
<div class="d-flex justify-content-center">
<div class="card-group">
  <div class="card">
    <%= image_tag 'meet_and_cofee.png', class: 'project_img' %>
    <div class="card-body">
      <h5 class="card-title">Meet & Cofee</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <button type="button" class="btn btn-primary btn-sm">Ver más...</button>
    </div>
  </div>
  <div class="card">
    <%= image_tag 'iguana_page.png', class: 'project_img' %>
    <div class="card-body">
      <h5 class="card-title">Iguana Page</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
      <button type="button" class="btn btn-primary btn-sm">Ver más...</button>
    </div>
  </div>
  <div class="card">
    <%= image_tag 'suricata.png', class: 'project_img' %>
    <div class="card-body">
      <h5 class="card-title">Suricata</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
      <button type="button" class="btn btn-primary btn-sm">Ver más...</button>
    </div>
  </div>
</div>
</div>
